{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;600&family=Playfair:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link rel="stylesheet" href="{% static 'styles/landing.css' %}">
  <title>Glance - Sign In</title>
</head>
<body>
  <div class="nav">
    <ul class="left">
      <li class="logo"><span class="g">Buzz</span></li>
    </ul>
    <ul class="right">
      <li>
        <div class="sign-btns">
          <button class="sign-in">Sign In</button>
          <button class="sign-up">Sign Up</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="content" id="content">
    <div class="writing">
      <div class="heading-1">
        <h1 id="heading">Stay up to date.</h1>
        <p class="para-main" id="para">All the news at your fingertips<br>with <span class="g">Buzz</span></p>
        <div class="prompt">
          <p class="starter" id="starter">Sign up to start reading!</p>
          <button class="start-btn" id="start-btn">Get Started</button>
        </div>
      </div>
    </div>
    <div class="cloud">
      <div class="girl">
        <img src="/static/images/tablet-girl.png" alt="">
      </div>
      <div class="boy">
        <img src="/static/images/laptop-dude.png" alt="">
      </div>
    </div>
  </div>

  <div class="form-in">
    <div class="form-main">
      <div class="form-all">
        <form action="{% url 'sign-up' %}" method="POST">
          {% csrf_token %}
          <h1>Sign Up</h1>
          <div class="info">
            <input class="fname" type="text" name="first_name" placeholder="First name">
            <input class="fname" type="text" name="last_name" placeholder="Last name">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password" id="">
            <input type="password" name="password2" placeholder="Confirm Password" id="">
          </div>
          <button type="submit" href="{% url 'sign-up' %}">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'js/animate.js' %}"></script>
</body>
</html>